@import url("https://fonts.googleapis.com/css?family=Quattrocento");

#quote-module {
    border: 1px solid black;
    background: rgba(255, 255, 255, 1);
    min-height: 300px;
    max-width: 450px;
    padding: 1%;
}
.container {
    background: white;
    /* border: 1px solid #000; */
    padding-top: 10px;
    color: #333333;
}
.topLine {
    border: 1.5px solid #3a3a3a;
}
* {
    font-family: 'Quattrocento' serif;
}

.content {
    border-top: 1px solid #c9c9c9;

}

.right {
    text-align: right;
}

.data {
    font-size: 12px;
    font-family: sans-serif;
    color: #707070;
}
